<div id="prompt_selection_area">
  <%= render "shared/prompt_selection_content", 
      prompts: prompts, 
      platform: platform, 
      form_name: form_name, 
      selected_prompt_id: selected_prompt_id %>
</div> 